<div id="fontSize" class="wrapper body-wrapper col-md-12" style="font-size: 100%;">
    <div class="bg-wrapper subpage-wrapper">
        <div class="container body-container">
            <div class="region region-highlighted">
                <div id="block-easy-breadcrumb-easy-breadcrumb" class="block block-easy-breadcrumb first last odd">

                    <div class="container" id="skipCont">
                        <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                                <div>
                                    <div class="panel-pane pane-views pane-page">
                                        <div
                                            class="view view-page view-id-page view-display-id-block view-dom-id-58055a9653e45fcc0951241c74cf4811">
                                            <div class="view-content">
                                                <div
                                                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                                    <div class="views-field views-field-body">
                                                        <div class="field-content">
                                                            <h1>Support to Training and Employment Programme for
                                                                Women(STEP)</h1>

                                                            <div style="text-align:justify;">
                                                                <h2><strong>Introduction</strong></h2>
                                                                <p> STEP Scheme aims to provide skills that give
                                                                    employability to women
                                                                    and to provide competencies and skill that enable
                                                                    women to become
                                                                    self-employed/entrepreneurs. The Scheme is intended
                                                                    to benefit women
                                                                    who are in the age group of 16 years and above
                                                                    across the country.</p>

                                                                <h2><strong>Scheme Benefits & Highlights</strong></h2>

                                                                <p>The assistance under STEP Scheme will be available in
                                                                    any sector for
                                                                    imparting skills related to employability and
                                                                    entrepreneurship,
                                                                    including but not limited to the Agriculture,
                                                                    Horticulture, Food Processing,
                                                                    Handlooms, Tailoring, Stitching, Embroidery, Zari
                                                                    etc, Handicrafts, Computer & IT
                                                                    enable services along with soft skills and skills
                                                                    for the work place such as
                                                                    spoken English, Gems & Jewellery, Travel & Tourism,
                                                                    Hospitality.</p>

                                                                <h2><strong>Eligibility</strong></h2>
                                                                <h2>Scheme Target Group</h2>
                                                                <p>The scheme is intended to benefit women who are in
                                                                    the age
                                                                    group of 16 years and above.</p>

                                                                <h2>ELIGIBLE ORGANIZATIONS/ PROJECT IMPLEMENTING
                                                                    AGENCIES (PIAs)</h2>
                                                                <p>Grants-in-aid under the STEP programme may be given
                                                                    to an institution
                                                                    having a distinct legal entity as under:</p>

                                                                <ul>
                                                                    <li>Institutions or organizations set up as
                                                                        Autonomous Organization
                                                                        under a specific statute or as a Society
                                                                        registered under the
                                                                        Societies Registration Act, 1860 or Indian
                                                                        Trusts Act, 1882
                                                                        (Not for profit) or other statutes.</li>
                                                                    <li>Voluntary Organizations or Non-Government
                                                                        Organizations registered
                                                                        under the Societies Registration Act, Indian
                                                                        Trust Act carrying out
                                                                        activities which promote the objectives of the
                                                                        STEP programme, with
                                                                        adequate financial and other resources,
                                                                        credibility and experience of
                                                                        the type of activities to be undertaken.</li>
                                                                    <li>Co-operative Societies</li>
                                                                </ul>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>