<div id="fontSize" class="wrapper body-wrapper" style="font-size: 100%;">
    <div class="bg-wrapper subpage-wrapper">
        <div id="block-easy-breadcrumb-easy-breadcrumb" class="block block-easy-breadcrumb first last odd">
            <div class="view-header">
                <div class="view view-project view-id-project view-display-id-block_3">
                    <div class="view-content">
                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                            <span class="field-content">
                                <h1>Frequently Asked Questions</h1>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="views-field views-field-php"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="tab-content" id="faq-tab-content">
                            <div class="tab-pane show active" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                <div class="accordion" id="accordion-tab-1">
                                    <div class="card">
                                        <div class="card-header" id="accordion-tab-1-heading-1">
                                            <h5>
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#accordion-tab-1-content-1" aria-expanded="false"
                                                    aria-controls="accordion-tab-1-content-1">What is an NGO?</button>
                                            </h5>
                                        </div>
                                        <div class="collapse show" id="accordion-tab-1-content-1"
                                            aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                                            <div class="card-body">
                                                <p>Voluntary organizations (VOs) / Non Governmental Organizations (NGOs)
                                                    include organizations engaged
                                                    in public service, based on ethical, cultural, social, economic,
                                                    political, religious, spiritual,
                                                    philanthropic or scientific & technological considerations. VOs
                                                    include formal as well as informal
                                                    groups such as: community-based organizations (CBOs);
                                                    non-governmental development organizations (NGDOs);
                                                    charitable organizations; support organizations; networks or
                                                    federations of such organizations;
                                                    as well as professional membership associations. </p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="accordion-tab-1-heading-2">
                                                <h5>
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#accordion-tab-1-content-2" aria-expanded="false"
                                                        aria-controls="accordion-tab-1-content-2">What is Vision of
                                                        NGO?</button>
                                                </h5>
                                            </div>
                                            <div class="collapse" id="accordion-tab-1-content-2"
                                                aria-labelledby="accordion-tab-1-heading-2"
                                                data-parent="#accordion-tab-1">
                                                <div class="card-body">
                                                    <p>Our vision is to ensure that every underprivileged child or women
                                                        attains his or her
                                                        right to education, health and opportunity. </p>
                                                </div>
                                            </div>
                                            <div class="card-header" id="accordion-tab-1-heading-3">
                                                <h5>
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#accordion-tab-1-content-3" aria-expanded="false"
                                                        aria-controls="accordion-tab-1-content-3">What is NGO’s
                                                        Mission?</button>
                                                </h5>
                                            </div>
                                            <div class="collapse" id="accordion-tab-1-content-3"
                                                aria-labelledby="accordion-tab-1-heading-3"
                                                data-parent="#accordion-tab-1">
                                                <div class="card-body">
                                                    <p>Our mission is to educate, empower and enable every individual
                                                        who wishes to make a positive difference
                                                        in the life of the underprivileged child and women. </p>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="accordion-tab-1-heading-4">
                                                    <h5>
                                                        <button class="btn btn-link" type="button"
                                                            data-toggle="collapse"
                                                            data-target="#accordion-tab-1-content-4"
                                                            aria-expanded="false"
                                                            aria-controls="accordion-tab-1-content-4">What are their
                                                            main characteristics?</button>
                                                    </h5>
                                                </div>
                                                <div class="collapse" id="accordion-tab-1-content-4"
                                                    aria-labelledby="accordion-tab-1-heading-4"
                                                    data-parent="#accordion-tab-1">
                                                    <div class="card-body">
                                                        <p>VOs / NGOs should broadly have the following characteristics:
                                                        </p>
                                                        <ul>
                                                            <li>They are private, i.e., separate from the Government
                                                            </li>
                                                            <li>They do not return profits generated to their owners or
                                                                directors</li>
                                                            <li>They are self-governing, i.e., not controlled by
                                                                Government</li>
                                                            <li>They are registered organizations or informal groups,
                                                                with defined aims and objectives</li>
                                                            <p>In India a Voluntary Organization / Non Governmental
                                                                Organization can be registered as Trusts,
                                                                Societies, or a private limited nonprofit company, under
                                                                section-25 Company of the
                                                                Indian Companies Act, 1956.</p>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="accordion-tab-2-heading-1">
                                                        <h5>
                                                            <button class="btn btn-link" type="button"
                                                                data-toggle="collapse"
                                                                data-target="#accordion-tab-2-content-1"
                                                                aria-expanded="false"
                                                                aria-controls="accordion-tab-2-content-1">Where can I
                                                                find more information about NGO and its
                                                                courses?</button>
                                                        </h5>
                                                    </div>
                                                    <div class="collapse" id="accordion-tab-2-content-1"
                                                        aria-labelledby="accordion-tab-2-heading-1"
                                                        data-parent="#accordion-tab-1">
                                                        <div class="card-body">
                                                            <p>Please take some time to browse this website and do not
                                                                hesitate to contact us if you still have questions. </p>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div class="card-header" id="accordion-tab-2-heading-2">
                                                            <h5>
                                                                <button class="btn btn-link" type="button"
                                                                    data-toggle="collapse"
                                                                    data-target="#accordion-tab-2-content-2"
                                                                    aria-expanded="false"
                                                                    aria-controls="accordion-tab-2-content-2">Where can
                                                                    I find more information about NGO and its
                                                                    courses?</button>
                                                            </h5>
                                                        </div>
                                                        <div class="collapse" id="accordion-tab-2-content-2"
                                                            aria-labelledby="accordion-tab-2-heading-2"
                                                            data-parent="#accordion-tab-1">
                                                            <div class="card-body">
                                                                <p>Please take some time to browse this website and do
                                                                    not hesitate to contact us if you still have
                                                                    questions. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>