<div class="mt-3 container col-md-10 d-flex justify-content-center">
    <div class="col-md-12">
        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/72/user-female.png"
                                class="img-radius" alt="User-Profile-Image"> </div>
                        <h6 class="f-w-600">{{user.userName.firstName}} {{user.userName.middleName}} {{user.userName.lastName}}</h6>
                        <p>Sukanya Account</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>

                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600 mt-5">Personal Information</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Email</p>
                                <h6 class="f-w-400">{{user.userEmailId}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Contact Number</p>
                                <h6 class="f-w-400">{{user.userContactNumber}}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Date of Birth</p>
                                <h6 class="f-w-400">{{user.userDOB}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Aadhar Number</p>
                                <h6 class="f-w-400" *ngIf="user.userAadhar!='0'">{{user.userAadhar}}</h6>
                                <h6 class="f-w-400" *ngIf="user.userAadhar=='0'">-</h6>
                            </div>
                        </div>
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600 mt-3">Address</h6>
                        <div class="row">
                            <div class="col-sm-8 mx-auto">
                                <h6 class="f-w-400">{{user.userAddress.address1}}</h6>
                                <h6 class="f-w-400">{{user.userAddress.address2}}</h6>
                                <h6 class="f-w-400">{{user.userAddress.city}} - {{user.userAddress.zipCode}}</h6>
                                <h6 class="f-w-400">{{user.userAddress.state}}, {{user.userAddress.country}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600 mt-5">Account Details</h6>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Account Number</p>
                                <h6 class="f-w-400">{{accountDetails.accountNumber}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Account Type</p>
                                <h6 class="f-w-400">{{accountDetails.accountType}}</h6>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Balance</p>
                                <h6 class="f-w-400">{{accountDetails.balance | currency:'INR'}}</h6>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-10 f-w-600">Registration Date</p>
                                <h6 class="f-w-400">{{accountDetails.registrationDate}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>