<div id="fontSize" class="wrapper body-wrapper col-md-12" style="font-size: 100%;">
    <div class="bg-wrapper subpage-wrapper">
        <div class="container body-container">
            <div class="region region-highlighted">
                <div id="block-easy-breadcrumb-easy-breadcrumb" class="block block-easy-breadcrumb first last odd">

                    <div class="container" id="skipCont">
                        <div class="panel-display panel-1col clearfix">
                            <div class="panel-panel panel-col">
                                <div>
                                    <div class="panel-pane pane-views pane-page">
                                        <div
                                            class="view view-page view-id-page view-display-id-block view-dom-id-58055a9653e45fcc0951241c74cf4811">
                                            <div class="view-content">
                                                <div
                                                    class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                                                    <div class="views-field views-field-body">
                                                        <div class="field-content">
                                                            <h1>STEP Guidelines</h1>

                                                            <div style="text-align:justify;">

                                                                <h2><strong>Eligibility</strong></h2>
                                                                <h2>Scheme Target Group</h2>
                                                                <p>The scheme is intended to benefit women who are in the age
                                                                    group of 16 years and above.</p>

                                                                <h2>ELIGIBLE ORGANIZATIONS/ PROJECT IMPLEMENTING AGENCIES (PIAs)</h2>
                                                                <p>Grants-in-aid under the STEP programme may be given to an institution
                                                                    having a distinct legal entity as under:</p>
                                                            
                                                                <ul>
                                                                    <li>Institutions or organizations set up as Autonomous Organization
                                                                        under a specific statute or as a Society registered under the
                                                                        Societies Registration Act, 1860 or Indian Trusts Act, 1882 
                                                                        (Not for profit) or other statutes.</li>
                                                                    <li>Voluntary Organizations or Non-Government Organizations registered
                                                                         under the Societies Registration Act, Indian Trust Act carrying out 
                                                                         activities which promote the objectives of the STEP programme, with 
                                                                         adequate financial and other resources, credibility and experience of 
                                                                         the type of activities to be undertaken.</li>
                                                                    <li>Co-operative Societies</li>
                                                                </ul>
                                                                
                                                                <h2><strong>Selection of Project Implementing Agencies</strong></h2>
                                                                <ul>
                                                                    <li>To start with, the concerned organization has to sign an application
                                                                        in the NGO-Partnership Portal of the NITI Aayog along with the 
                                                                        self-declared details and obtain a Unique ID. The NGO should 
                                                                        compulsorily specify the Unique ID at the time of applying for grants.</li>
                                                                    <li>The NGOs should update their database in the Portal every year.</li>
                                                                    <li>The organisation should have been in existence for a minimum 
                                                                        of 3 years and must have carried out activities for implementing
                                                                        skills related to employment and entrepreneurship during the last
                                                                        3 years. Also, the organisation should have had good financial 
                                                                        health for at least the previous 2 years.</li>
                                                                </ul>

                                                                <h2><strong>Number of Beneficiaries</strong></h2>
                                                                <p>The number of beneficiaries in a project shall not be more than 200 members.
                                                                    Training will be implemented in batches with manageable proportions. 
                                                                    The equipment/ small machines/ computers related to the industrial sectors 
                                                                    are made available for quality training.</p>

                                                                <h2><strong>Financial Assistance</strong></h2>
                                                                <p>The financial assistance under the STEP scheme will be provided for the beneficiaries in the manner as follows:</p>
                                                                
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Sr.no</th>
                                                                            <th>Financial Assistance</th>
                                                                            <th>Course Duration</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                          <td>1</td>
                                                                          <td>Rs.40.50/-</td>
                                                                          <td>For every hour of training for sectors listed in Category I given in Annexure-I</td>
                                                                        </tr>
                                                                        <tr>
                                                                          <td>2</td>
                                                                          <td>Rs. 34.70/-</td>
                                                                          <td>For every hour of training for sectors listed in Category II given in Annexure-I</td>
                                                                        </tr>
                                                                        <tr>
                                                                          <td>3</td>
                                                                          <td>Rs.28.90/</td>
                                                                          <td>For every hour of training for sectors listed in Category III given at Annexure-I</td>
                                                                        </tr>
                                                                      </tbody>
                                                                </table>

                                                                <h2><strong>Funding Pattern</strong></h2>
                                                                <p>Under the STEP scheme, the maximum financial assistance of 90%
                                                                    of the project cost will be granted by the Government of India. 
                                                                    The remaining 10% will have to be provided by the implementing agency.</p>

                                                                <h2><strong>Documents Required</strong></h2>
                                                                <p>The following documents are to be submitted while applying for the STEP scheme.</p>
                                                                <ul>
                                                                    <li>Copies of audited statement of accounts (Balance sheet, Income & Expenditure Account and Receipt & Payment Account) of the preceding three years.</li>
                                                                    <li>Annual Report for three preceding years.</li>
                                                                    <li>Proof of experience in the sector concerned.</li>
                                                                    <li>Document in support of the statement that the course is compliant with the stipulations of the National Skills Qualification Framework (NSQF).</li>
                                                                    <li>Copy of Registration Certificate, if any.</li>
                                                                </ul>

                                                                <h2><strong>Application Procedure of STEP Scheme</strong></h2>
                                                                <ol>
                                                                    <li>Step 1 – Eligible NGOs, who are interested to participate in the scheme should register themselves on NGO-PS Portal of NITI Aayog and obtain a Unique ID for this purpose</li>
                                                                    <li>Step 2 – The Project proposals will be submitted online to the Ministry of Women and Child Development through the Ministry’s NGO Proposal Management System</li>
                                                                    <li>Step 3 – These proposals will be addressed to the concerned State Government, which will examine the same and forward it to the Ministry of Women and Child Development with its recommendations</li>
                                                                    <li>Step 4 – The proposals recommended by the State Government will be verified by a pre-screening committee, which is set up by the Ministry</li>
                                                                    <li>Step 5 – The proposals recommended by the pre-screening committee will in-turn be placed before the Project Appraisal Committee for the final approval</li>
                                                                    <li>Step 6 – Upon final approval, the fund will be released to the registered NGO</li>
                                                                </ol>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>