<div id="fontSize" class="wrapper body-wrapper" style="font-size: 100%;">
    <div class="bg-wrapper subpage-wrapper">
        <div class="container body-container">
          <div class="region region-highlighted">
  <div id="block-easy-breadcrumb-easy-breadcrumb" class="block block-easy-breadcrumb first last odd">
  
  <div class="view-header">
    <div class="view view-project view-id-project view-display-id-block_3">
    <div class="view-content">
    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
    
    <div class="views-field views-field-php">        
    <span class="field-content"><h1>Women Related Legislation</h1></span>  
    </div>  
    </div>
    </div>
  
  </div>   
  </div>
  
  
  <div class="scroll-table1"><table class="views-table cols-2">
    
  <tbody>
    <ul>
        <tr class="odd views-row-first">
            <td class="views-field views-field-title" data-label="Title">          
        <li>Compensation Scheme for Women Victims/Survivors of Sexual Assault/other Crimes - 2018</li></td>
              
        </tr>
        <tr class="even">
            <td class="views-field views-field-title" data-label="Title">
        <li>Letter of Selection of the empanelled organisation to conduct capacity building exercises on Sexual Harassment of Women at Workplace (Prevention, Prohibition&nbsp;and Redressal) Act, 2013        </li>  </td>
              
          </tr>
        <tr class="odd">
            <td class="views-field views-field-title" data-label="Title">
        <li>Recommended Panel of Institutions organisation for imparting training Programmes/workshops under Sexual Harassment of Women at Workshop (Prevention, Prohibition and Redressal) Act, 2013)          </li></td>
             
          </tr>
        <tr class="even">
            <td class="views-field views-field-title" data-label="Title">
        <li>Training Module  for Two Day Workshop on Sexual Harassment of Women at Workplace (Prevention, Prohibition And Redressal) Act, 2013 </li>         </td>
              
          </tr>
        <tr class="odd">
            <td class="views-field views-field-title" data-label="Title">
        <li> Panel of Institutes or Organizations under sexual harassment of Women at workplace Prevention,Prohibition, and Redressal Act 2013  </li>         </td>
              
          </tr>
        <tr class="even">
            <td class="views-field views-field-title" data-label="Title">
        <li>The sexual harassment of women at workplace Prevention,Prohibition, and Redressal Act 2013     </li>     </td>
             
          </tr>
        <tr class="odd">
            <td class="views-field views-field-title" data-label="Title">
        <li> Sexual Harassment of Women at Workplace, (Prevention,Prohibition, and Redressal Act 2013, Rules  </li>        </td>
              
          </tr>
        <tr class="even">
            <td class="views-field views-field-title" data-label="Title">
        <li>Handbook on Sexual Harassment of Women at Workplace      </li>    </td>
             
          </tr>
      <tr class="odd">
              <td class="views-field views-field-title" data-label="Title">
        <li>National Commission for Women Act     </li>     </td>
              
          </tr>
      <tr class="even">
              <td class="views-field views-field-title" data-label="Title">
        <li>The Commission of Sati Prevention Act and rules     </li>     </td>
              
          </tr>
      <tr class="odd">
              <td class="views-field views-field-title" data-label="Title">
        <li>Indecent Representation of Women     </li>     </td>
              
          </tr>
      <tr class="even">
              <td class="views-field views-field-title" data-label="Title">
        <li>Dowry Prohibition Rules       </li>   </td>
             
          </tr>
      <tr class="odd">
              <td class="views-field views-field-title" data-label="Title">
        <li>Dowry Prohibition Act, 1961     </li>     </td>
              
          </tr>
      <tr class="even">
              <td class="views-field views-field-title" data-label="Title">
        <li>Protection of Women from Domestic Violence Act, 2005    </li>      </td>
              
          </tr>
      <tr class="odd views-row-last">
              <td class="views-field views-field-title" data-label="Title">
        <li>The Protection of Women from Domestic Violence Act, 2005 Rules    </li>      </td>   
          </tr>
          </ul>
  </tbody>
  </table></div>
  </div>
  </div>
  </div>
  </div>
  </div>
  