<div id="fontSize" class="wrapper body-wrapper" style="font-size: 100%;">
    <div class="bg-wrapper subpage-wrapper">
        <div class="container body-container">
            <div class="region region-highlighted">
                <div id="block-easy-breadcrumb-easy-breadcrumb" class="block block-easy-breadcrumb first last odd">

                    <div class="view-header">
                        <div class="view view-project view-id-project view-display-id-block_3">
                            <div class="view-content">
                                <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                    <span class="field-content">
                                        <h1>Admin Dashboard</h1>
                                    </span>
                                    <div class="views-field views-field-php">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="scroll-table1">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p>Admin Dashboard includes sections : NGOs, Trainees.</p>
                                <p>Admin needs to login with valid credentials in NGOs and Trainnes section.</p>
                                <p>On Successful login admin will be able to see the list of ngo or trainees.</p>
                                <p>Admin will be able to add new record, update the existing record or delete a record.
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>