<div class="py-5">
    <div class="container">
        <div class="row hidden-md-up">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="card">
                            <img src="https://bit.ly/3gs6lB0" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Agriculture</h5>
                                <p class="card-text">Agriculture is the most important sector of Indian Economy.
                                    Indian agriculture sector accounts for 18 per cent of India's gross
                                    domestic product (GDP) and provides employment to 50% of the countries
                                    workforce.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="card">
                            <img src="https://bit.ly/39UfWPZ" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Animal Husbandry</h5>
                                <p class="card-text">India is the largest producer of the livestock in the global market
                                    with a livestock base of 304.8 million including 199.1 million cattle, 105.3 million
                                    buffalo, 71.6 million sheep and 140.5 million goat.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="card">
                            <img src="https://bit.ly/2K0EJqG" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Dairying</h5>
                                <p class="card-text">The dairy sector is one of the crucial sectors in the Indian economy that not only provides employment to millions of rural households but also contributes to the economy.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="card">
                            <img src="https://bit.ly/3m5DBzy" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Fisheries</h5>
                                <p class="card-text">A fishery is the enterprise of raising or harvesting fish and other
                                    aquatic life. Commercial fisheries include wild fisheries and fish farms, both in
                                    fresh water (about 10% of all catch) and the oceans (about 90%).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="card">
                            <img src="https://bit.ly/3qCR70N" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Handlooms</h5>
                                <p class="card-text">India has a long tradition of excellence in making high quality
                                    handloom products with extraordinary skills and craftsmanship, which are
                                    unparalleled in the world. The intricate workmanship of the handlooms provides this
                                    segment a unique identity of its own.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <div class="card">
                            <img src="https://bit.ly/2VUjARH" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Handicrafts</h5>
                                <p class="card-text">The crafts of India are diverse, rich in history, culture and
                                    religion. The craft of each state in India reflect the influence of different
                                    empires. Throughout centuries, crafts have been embedded as a culture and tradition
                                    within rural communities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>